{% extends "layouts/master.html" %}

{% block title %}
    View Books
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-5 mb-2"><i class="fas fa-list"></i> Books</h1>
        <a href="{% url 'add-book' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Add Book</a>
    </div>
    <table class="table mt-4">
        <thead class="table-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Book Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in data %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ book.title }}</td>
                <td>
                    <a href="{% url 'view-book' book.id %}" class="btn btn-sm btn-info me-2"><i class="fas fa-eye"></i> View</a>
                    <a href="{% url 'edit-book' book.id %}" class="btn btn-sm btn-warning me-2"><i class="fas fa-pencil-alt"></i> Edit</a>
                    <a href="{% url 'delete-book' book.id %}" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}