{% extends "layouts/master.html" %}

{% block title %}
    Update Book
{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="display-5 mb-2"><i class="fas fa-plus-square me-2"></i>Update Book</h1>
      <form method="POST" action="{% url 'update-book' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ data.id }}">
          <div class="mb-3">
              <label for="title" class="form-label">Title:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-book"></i></span>
                <input type="text" class="form-control" value="{{ data.title }}" name="title" required>
      </div>
          </div>
          <div class="mb-3">
              <label for="author" class="form-label">Author:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" value="{{ data.author }}" name="author" required>
      </div>
          </div>
          <div class="mb-3">
              <label for="description" class="form-label">Description:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-comment"></i></span>
                <textarea class="form-control" name="description" rows="3" required>{{ data.description }}</textarea>
      </div>
          </div>
          <div class="mb-3">
              <label for="price" class="form-label">Price:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                <input type="number" class="form-control" value="{{ data.price }}" name="price" min="0" step="0.01" required>
      </div>
          </div>
          <div class="mb-3">
              <label for="category" class="form-label">Category:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-tags"></i></span>
                <select class="form-select" name="category" required>
                  {% for cat in category %}
                  <option value="{{ cat.id }}" {% if cat.id == data.category.id %}selected{% endif %}>{{ cat.category_name }}</option>
                  {% endfor %}
                </select>
      </div>
          </div>
          <div class="mb-3">
              <label for="quantity" class="form-label">Quantity:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>
                <input type="number" class="form-control" value="{{ data.quantity }}" name="quantity" min="0" required>
      </div>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image:</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-image"></i></span>
                <input type="file" class="form-control" name="image" accept="image/*">
                {% if data.image %}
                    <span class="input-group-text">{{ data.image }}</span>
                {% endif %}
            </div>
        </div>
          <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Update Book</button>
      </form>
  </div>
{% endblock content %}