{% extends "layouts/master.html" %}

{% block title %}
    View Categories
{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="display-5 mb-2"><i class="fas fa-list"></i> View Categories</h1>
    <table class="table mt-4">
        <thead class="table-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Category Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in data %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ category.category_name }}</td>
                <td>
                    <a href="#" class="btn btn-sm btn-warning me-2"><i class="fas fa-pencil-alt"></i> Edit</a>
                    <a href="#" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}